/*
* Fondo: #FAF8F7
* Header: #0A1940
* Resalto: #0A1940
* Contenedores: #465987
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorNoticiasPc{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    width: 75vw;
    background-color: #465987;
    border-radius: 10px;
}