/*
* Fondo: #FAF8F7
* Header: #0A1940
* Resalto: #0A1940
* Contenedores: #465987
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
}

.contenedorNoticias{
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    border-radius: 10px;
    gap: 5px;
    grid-auto-flow: 200px;
    width: 90%;
    padding-bottom: 3%;
}

.noticiaIndividual{
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 2%;
}

.noticiaIndividual form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imagenNoticia{
    width: 100%;
    margin: auto;
}

.titulo{
    width: 100%;
    padding-left: 3%;
    padding-top: 2%;
    margin-bottom: 2%;
}

@media screen and (min-width:750px) {
    
    .contenedorNoticias{
        grid-template-columns: repeat(3, 1fr);
        width: 75vw;
        padding-top: 0;
    }

    .noticiaIndividual{
        width: 95%;
    }

}